.image {
  width: min(auto, 24rem);
  object-fit: contain;
  border-radius: var(--radius) 0 0 var(--radius);
}

.projectContainer {
  display: flex;
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding-right: 1rem;
  gap: 1rem;
}

.projectMain {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.tags {
  display: flex;
  gap: 0.3rem;
}

.demoLink {
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 700;
  text-decoration: none;
  color: var(--accent);
  border-radius: var(--radius);
  background-color: var(--surface-alt);
  padding: 0.2rem 0.3rem;
  gap: 0.2rem;
}

.demoLink svg {
  fill: var(--accent);
}

.githubLink {
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 700;
  text-decoration: none;
  color: black;
  border-radius: var(--radius);
  background-color: var(--link-github-bg);
  padding: 0.2rem 0.3rem;
  gap: 0.2rem;
}

.botContent {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 0.3rem;
}

@media screen and (max-width: 1000px) {
  .projectContainer {
    flex-direction: column;
    width: 256px;
  }

  .botContent {
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .tags {
    flex-wrap: wrap;
  }

  .links {
    margin: 0.5rem 0 0.5rem 0;
  }
}
