.mainContent {
  max-width: var(--content-max);
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aboutSkillSection {
  display: flex;
  gap: 1rem;
}

.about {
  width: 576px;
}

.linkSection {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
}

.skillDisplay {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  gap: 0.4rem;
  margin: 0.3rem 0;
}

.projectSection {
  display: flex;
  flex-direction: column;
}

.projects {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 1rem;
}

/* --breakpoint-md: 1000px */
@media screen and (max-width: 1000px) {
  .mainContent {
    margin: 0;
  }

  .aboutSkillSection {
    margin: 0 auto;
    flex-direction: column;
  }

  .projectSection {
    align-items: center;
  }

  .projects {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 1rem;
    justify-items: center;
  }
}

/* --breakpoint-sm: 425px */
@media screen and (max-width: 425px) {
  .about {
    width: 100%;
  }
}
