@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "./styles/tokens.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

body {
  background-color: var(--bg);
}

h1,
h2,
p {
  color: var(--accent);
}
